footer 
    .container 
        .footer-wrap 
            img.mobile-view-logo.lazy(src="" data-src="assets/images/LT-Logo.jpg" alt="LT-logo" width="117" height="24" loading="lazy" tabindex="0")
            .footer-col
                .footer-col-part 
                    h4.col-title(aria-expanded="true" tabindex="0" role="button" id="toolkit-accordion" aria-controls="toolkit-content") Toolkit
                    ul.footer-links(id="toolkit-content" aria-labelledby="toolkit-accordion" ) 
                        li 
                            a.footer-link(href="javascript:void(0)") EMI calculator 
                        li 
                            a.footer-link(href="javascript:void(0)") Credit score 
                        li 
                            a.footer-link(href="javascript:void(0)") Bill & utilities
                            span.new-label New
                        li 
                            a.footer-link(href="javascript:void(0)") Spend analyser
                        li 
                            a.footer-link(href="javascript:void(0)") Farm marketplace
                        li 
                            a.footer-link(href="javascript:void(0)") Auction portal
                        li 
                            a.footer-link(href="javascript:void(0)") Rural marketplace
                .footer-col-part 
                    h4.col-title(aria-expanded="false" tabindex="0" role="button" id="insurance-accordion" aria-controls="insurance-content") Insurance
                    ul.footer-links(id="insurance-content" aria-labelledby="insurance-accordion") 
                        li 
                            a.footer-link(href="javascript:void(0)") Life insurance 
                        li 
                            a.footer-link(href="javascript:void(0)") Health insurance
                        li 
                            a.footer-link(href="javascript:void(0)") General insurance
                            span.new-label New        

            .footer-col
                .footer-col-part 
                    h4.col-title(aria-expanded="false" tabindex="0" role="button" id="about-accordion" aria-controls="about-content") About LTF
                    ul.footer-links(id="about-content" aria-labelledby="about-accordion") 
                        li 
                            a.footer-link(href="javascript:void(0)") About us
                        li 
                            a.footer-link(href="javascript:void(0)") Careers 
                        li 
                            a.footer-link(href="javascript:void(0)") Investors 
                        li 
                            a.footer-link(href="javascript:void(0)") Newsroom 
                        li 
                            a.footer-link(href="javascript:void(0)") Achievements 
                        li 
                            a.footer-link.footer-menu-link(href="javascript:void(0)") CSR & sustainability 
                            ul.footer-sub-links 
                                li 
                                    a.footer-link(href="javascript:void(0)") Lorem ipsum dolor sit amet.
                                li 
                                    a.footer-link(href="javascript:void(0)") Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                                li 
                                    a.footer-link(href="javascript:void(0)") CSR Report
                        li 
                            a.footer-link.footer-menu-link(href="javascript:void(0)") Growth journey  
                            ul.footer-sub-links 
                                li 
                                    a.footer-link(href="javascript:void(0)") Lorem ipsum dolor sit amet.
                                li 
                                    a.footer-link(href="javascript:void(0)") Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                                li 
                                    a.footer-link(href="javascript:void(0)") CSR Report  
            .footer-col
                .footer-col-part 
                    h4.col-title(aria-expanded="false" tabindex="0" role="button" id="implinks-accordion" aria-controls="implinks-content") Important links
                    ul.footer-links(id="implinks-content" aria-labelledby="implinks-accordion") 
                        li 
                            a.footer-link(href="javascript:void(0)") Customer education
                        li 
                            a.footer-link(href="javascript:void(0)") Interest rate model & gradation of risk
                        li 
                            a.footer-link.footer-menu-link(href="javascript:void(0)") Fee schedule 
                            ul.footer-sub-links 
                                li 
                                    a.footer-link(href="javascript:void(0)") Lorem ipsum dolor sit amet.
                                li 
                                    a.footer-link(href="javascript:void(0)") Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                                li 
                                    a.footer-link(href="javascript:void(0)") CSR Report 
                        li 
                            a.footer-link(href="javascript:void(0)") Prime rates
                        li 
                            a.footer-link(href="javascript:void(0)") Ombudsman scheme
                        li 
                            a.footer-link(href="javascript:void(0)") Terminated service providers
                        li 
                            a.footer-link(href="javascript:void(0)") Return procedure deceased borrower  
            .footer-col
                .footer-col-part 
                    h4.col-title(aria-expanded="false" tabindex="0" role="button" id="support-accordion" aria-controls="support-content") Support
                    ul.footer-links(id="support-content" aria-labelledby="support-accordion") 
                        li 
                            a.footer-link(href="javascript:void(0)") FAQs
                        li 
                            a.footer-link(href="javascript:void(0)") Chatbot
                        li 
                            a.footer-link(href="javascript:void(0)") Locate us 
                        li 
                            a.footer-link(href="javascript:void(0)") Request a call back 
            .footer-col
                .footer-col-part 
                    h4.col-title(aria-expanded="false" tabindex="0" role="button" id="company-accordion" aria-controls="company-content") Our companies
                    ul.footer-links(id="company-content" aria-labelledby="company-accordion") 
                        li 
                            a.footer-link(href="javascript:void(0)") L&T Finance Holdings Limited 
                        li 
                            a.footer-link(href="javascript:void(0)") L&T Financial Consultants Limited
                        li 
                            a.footer-link(href="javascript:void(0)") Merged Entities
            .footer-col.office-details 
                .footer-col-part.office-detail-part 
                    img.lazy(src="" data-src="assets/images/LT-Logo.webp" alt="LT-logo" width="117" height="24" loading="lazy" tabindex="0")
                    .social-icons 
                        a(href="javascript:void(0)") 
                            .icon-linkedin-box-fill
                        a(href="javascript:void(0)") 
                            .icon-instagram-fill
                        a(href="javascript:void(0)") 
                            .icon-twitter-x-fill
                        a(href="javascript:void(0)") 
                            .icon-youtube-fill
                        a(href="javascript:void(0)") 
                            .icon-facebook-round-svgrepo-com-1
                    h4.col-title.office-detail-head(tabindex="0") Corporate office
                    p.office-address(tabindex="0") Brindavan, Plot no. 177, CST road, Kalina. Santacruz (East) Mumbai - 400098, Maharashtra. India
                    a.office-contact(href="tel:+91 22 6212 5000 ") +91 22 6212 5000 
                    .social-icons.mobile-icons 
                        a(href="javascript:void(0)") 
                            .icon-linkedin-box-fill
                        a(href="javascript:void(0)") 
                            .icon-instagram-fill
                        a(href="javascript:void(0)") 
                            .icon-twitter-x-fill
                        a(href="javascript:void(0)") 
                            .icon-youtube-fill
                        a(href="javascript:void(0)") 
                            .icon-facebook-round-svgrepo-com-1
        .footer-bottom 
            p(tabindex="0") L7T Finance Holdings Limited | CIN: L67120MH2008PLC181833 | IRDAI Registration No.: CA0867
            .policy-links 
                a(href="javascript:void(0)") Disclaimer |
                a(href="javascript:void(0)") Privacy policy |
                a(href="javascript:void(0)") Sitemap |
                a(href="javascript:void(0)") Notices - Transfer of loans (Wholesale) |
                a(href="javascript:void(0)") Grievance redressal

    a(href="javascript:void(0)" class="back-to-top" id="scroll-to-top" tabindex="0") 
        img.lazy(src="" data-src="./assets/images/arrow-up.png" alt="back-to-top" width="24" height="24" loading="lazy")