// build:js assets/js/vendor/jquery-3.7.1.min.js
script(src="assets/js/vendor/jquery-3.7.1.min.js" defer)
//endbuild


// build:js assets/js/vendor/swiper-bundle.min.js
script(src="assets/js/vendor/swiper-bundle.min.js" defer)
//endbuild

// build:js assets/js/vendor/aos.js
script(src="assets/js/vendor/aos.js" defer)
//endbuild

// build:js assets/js/vendor/fontawesome.min.js
script(src="assets/js/vendor/fontawesome.min.js" defer)
//endbuild

// build:js assets/js/global.js
script(src="assets/js/global.js" defer)
//endbuild

// build:js assets/js/home.js
script(src="assets/js/home.js" defer)
//endbuild
