header
  .navbar 
    .header-top 
      .header-wrapper
        .download-set 
          span.download-set-title(tabindex="0") Download Planet App
          a.apple-link(href="javascript:void(0)") 
            img.lazy.apple-image(src="" loading="lazy" data-src="./assets/images/apple.webp" alt="appleImage" width="16" height="16")
          a.playstore-link(href="javascript:void(0)")
            img.lazy.playstore-image(src="" loading="lazy" data-src="./assets/images/playstore.webp" alt="playstoreImage" width="16" height="16")
        .share-Links(tabindex="0") 
          p.share-link-title L&T Finance Holdings Ltd
          span.share-price1 ₹148.60
          span.share-price2 1.50
          span.share-price3 (1.2%)
        a.g-translate(href="javascript:void(0)") 
          img.lazy(src="" loading="lazy" data-src="assets/images/g_translate.svg" alt="translateImage" width="22" height="22")
        //- .share-Links-mobile 
        //-   button 
            

    .header-bottom 
      .header-wrapper
        .bottom-left
          .ham-menu(tabindex="0") 
            span 
            span 
          a.logo(href="javascript:void(0)")
            img.lazy.LT-logo(src="" loading="lazy" data-src="./assets/images/LT-Logo.webp" alt="LT-logo" width="200" height="46")
          .lang-translate 
            span 
              img.lazy.lang-icon(src="" loading="lazy" data-src="./assets/images/Icon.webp" alt="language-image" width="24" height="24")
            .translate-box 
              span(tabindex="0") Language
              select(name="Language" id="Language")
                option(value="English") English
                option(value="Marathi") Marathi
                option(value="Hindi") Hindi

          .search-group 
            input.searchInput(type="text" placeholder="Search")
            img.lazy.magnifier(src="" loading="lazy" data-src="./assets/images/magnifier-icon.webp" alt="maginifier" width="18" height="18") 
        .bottom-right 
          .nav-links 
            ul.navLink-List  
              li.nav-item
                a.nav-link.underline-animate(href="javascript:void(0)") Loans 
                .dropdown-menu.loans-menu 
                  ul.dropdown-list 
                    li.dropdown-item 
                      a(href="javascript:void(0)") Home1  
                    li.dropdown-item  
                      a(href="javascript:void(0)") Home2
                    li.dropdown-item  
                      a(href="javascript:void(0)") Home3 
                    li.dropdown-item  
                      a(href="javascript:void(0)") Home3 
              li.nav-item
                a.nav-link.underline-animate(href="javascript:void(0)") Payments
                .dropdown-menu.loans-menu 
                  ul.dropdown-list 
                    li.dropdown-item 
                      a(href="javascript:void(0)") UPI  
                    li.dropdown-item  
                      a(href="javascript:void(0)") Debit Card
                    li.dropdown-item  
                      a(href="javascript:void(0)") Credit Card   
              li.nav-item
                a.nav-link.underline-animate(href="javascript:void(0)") Utilities 
              li.nav-item
                a.nav-link.underline-animate(href="javascript:void(0)") Investors
              li.nav-item 
                a.nav-link.underline-animate(href="javascript:void(0)") About Us
                .dropdown-menu.loans-menu 
                  ul.dropdown-list 
                    li.dropdown-item 
                      a(href="javascript:void(0)") Home1  
                    li.dropdown-item  
                      a(href="javascript:void(0)") Home2
                    li.dropdown-item  
                      a(href="javascript:void(0)") Home3 
                    li.dropdown-item  
                      a(href="javascript:void(0)") Home3   
          .header-Btn-grp
            button.mobile-search-Btn 
              img.lazy.magnifier(src="" loading="lazy" data-src="./assets/images/magnifier-icon.webp" alt="maginifier" width="18" height="18")
            button.btn.LoginBtn Login

  .quick-links-wrap 
      a.links.chatNow(href="") 
        //- span.icon-Chats.path1
        //- span.icon-Chats.path2
        p Chat 
          span Now
      .quick-link-toggle
        a.links.quickLinks(href="" id="quickLinks-link") 
          //- span.icon-quick-links
          p Quick 
            span Links
        .inner-quickLinks(id="float-quicklinks") 
          a(href="javascript:void(0)") Calculator 
          a(href="javascript:void(0)") Locate Us 
          a(href="javascript:void(0)") FAQs
        
        

        

              
           
       


        
