extends ../layout/index
append config
	- var Page = {title:"L&T Finance",section:"homePage",theme:"", name:""}
	- var Meta = {description:"L&T Finance"}
	- var breadcrum = false
block content
	include ../modules/homePage/master