@import "../global/mixins",
"../global/variables";

.banner-section {
   padding: 0;
   margin-top: 6.6875rem;
   @include respond-to(laptop){
      margin-top: 6.25rem;
   }
   @include respond-to(large){
      margin-top: 5.625rem;
   }

   .bannerSwiper {
      .swiper-slide {
         img {
            width: 100%;
            height: auto;
            @include respond-to(small){
               max-height: 10rem;
               object-fit: cover;
            }
         }
      }

      .swiper-pagination-bullet {
         background: $white;
         opacity: unset;
         @include transition(all, 0.3s, ease);
      }

      .swiper-pagination-bullet-active {
         // background: $primary-color;
         background: transparent;
         width: 3.5rem;
         border-radius: 1.25rem;
         border: 1px solid $primary-color;
         position: relative;
         @include transition(all, 0.6s, ease);

         &::before {
            content: " ";
            // position: absolute;
            // top: 0;
            // left: 0;
            width: 2.5rem;
            height: 100%;
            display: block;
            border-radius: 1.25rem;
            background: $primary-color;
            @include transition(all, 0.6s, ease);
         }

      }

      .hero-content {
         position: absolute;
         top: 15%;
         width: 45rem;

         @include respond-to(large) {
            top: 20%;
         }

         @include respond-to(small) {
            top: 16%;
         }
         @include respond-to(xssmall) {
            top: 3%;
         }

         .hero-title {
            color: $white;
            font-family: $font-Pro-BlackCn;
            font-size: 3.5rem;
            line-height: 3.6875rem;
            letter-spacing: -0.035rem;
            margin-bottom: 0.75rem;

            @include respond-to(mdlaptop) {
               font-size: 2.5rem;
               line-height: 2.75rem;
            }

            @include respond-to(large) {
               font-size: 1.5625rem;
               line-height: 2.75rem;
            }

            @include respond-to(small) {
               font-size: 1.25rem;
               line-height: 1.5rem;
               width: 14.375rem;
               margin-bottom: 0.9375rem;
            }
         }

         .hero-subtitle {
            color: $white;
            font-family: $font-Pro-Roman;
            font-size: 1.25rem;
            line-height: 1.625rem;
            letter-spacing: -0.0125rem;
            margin-bottom: 3.125rem;

            @include respond-to(mdlaptop) {
               margin-bottom: 1.5625rem;
            }

            @include respond-to(mediumtab) {
               margin-bottom: 1.5625rem;
            }

            @include respond-to(large) {
               font-size: 1.125rem;
               line-height: 1.25rem;
               letter-spacing: -0.0125rem;
               margin-bottom: 1.1875rem;
            }

            @include respond-to(medium) {
               display: none;
            }
         }
      }

      .banner-pagination {
         bottom: 20%;
         left: 50%;
         width: unset;
         @include rounded(3.75rem);
         background: rgba(0, 0, 0, 0.25);
         backdrop-filter: blur(0.4375rem);

         @include respond-to(large) {
            bottom: 40%;
            text-align: right;
            right: 2.1875rem;
            left: unset;
         }
         @include respond-to(mobile){
            bottom: 24%;
         }
         @include respond-to(xssmall){
            bottom: 20%;
         }
      }
   }


}