@import "../global/mixins",
"../global/variables";

.impNotice-section {
    background-color: #FFEEC3;
    padding: 1.875rem 0;
    height: 6.625rem;

    &.expanded {
        height: 11.25rem;
    }

    .container {
        @include respond-to(medium) {
            padding-right: 0;
        }
    }

    .notice-head {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 1.25rem;

        .sect-heading {
            margin-bottom: 0;
        }

        .shownoticeLink {
            color: $highlight;
            font-family: $font-bold;
            font-size: 0.875rem;
            line-height: 1rem;
            position: relative;
            cursor: pointer;
            display: inline-flex;
            align-items: center;
            margin-right: 2.8125rem;

            &::after {
                position: absolute;
                content: "";
                width: 0.4375rem;
                height: 0.4375rem;
                top: 8%;
                right: -1.0625rem;
                transform: rotate(-135deg); // default arrow direction
                border-top: 2px solid $highlight;
                border-left: 2px solid $highlight;
                cursor: pointer;
                @include transition(all, 0.3s, ease);
            }

            &.active::after {
                top: 30%;
                transform: rotate(45deg);
            }
        }

    }

    // .notice-wrap {
    //     position: relative;
    //     overflow: visible;
    //     margin-bottom: -115px;
    // }
    .notice-wrap {
        position: relative;
        max-height: 0;
        overflow: hidden;
        opacity: 0;
        display: none;
        // visibility: hidden;

        &.visible {
            max-height: 62.5rem;
            opacity: 1;
            overflow: visible;
            display: block;
            transition: all 5s ease;
            margin-bottom: -5.625rem;
        }
    }

    .notice-slide {
        position: relative;
        @include rounded(0.5rem);

        img {
            width: 100%;
            height: auto;
            display: block;
            @include rounded(0.5rem);

            @include respond-to(extralarge) {
                height: 7.5rem;
            }
        }

        .notice-info {
            position: absolute;
            top: 1.6875rem;
            left: 1.875rem;

            .notice-title {
                color: $white;
                font-family: $font-Pro-BlackCn;
                font-size: 1.25rem;
                letter-spacing: -0.0125rem;
                margin-bottom: 0.25rem;

                @include respond-to(small) {
                    font-size: 1rem;
                }
            }

            .notice-desc {
                color: $white;
                font-family: $font-Pro-Roman;
                font-size: 0.75rem;
                letter-spacing: -0.0075rem;
                margin-bottom: 0.625rem;

                @include respond-to(small) {
                    font-size: 0.625rem;
                }
            }

            .readMore-noticeLink {
                color: $white;
                font-family: $font-Pro-Roman;
                font-size: 0.875rem;
                line-height: 1rem;
                text-decoration-line: underline;

                @include respond-to(small) {
                    font-size: 0.75rem;
                }
            }
        }
    }
}