section.download-section 
    .container 
        .download-wrapper 
            .download-left
                img.lazy.planetApp-logo(src="" data-src="assets/images/planetapp_Logo.webp" alt="planetApp-Logo" width="56"  height="56" loading="lazy" tabindex="0")
                .download-info 
                    h2.download-title(tabindex="0") Seamless Loans, Simplified Experience
                    p.download-desc(tabindex="0") Download the Planet app for a one stop loan and insurance solution with effortless management at your fingertips. 
                        a.download.learn-more-link(href="javascript:void(0)")  Learn more 
                    .download-links 
                        a.playStore-link(href="javascript:void(0)") 
                            img.lazy(src="" data-src="assets/images/PlayStoreBtn.webp" alt="PlayStore" width="135"  height="40" loading="lazy")
                        a.appStore-Link(href="javascript:void(0)") 
                            img.lazy(src="" data-src="assets/images/AppStoreBtn.webp" alt="appstore" width="135"  height="40" loading="lazy")
                    .download-links.mobile-download-links 
                        a.playStore-link(href="javascript:void(0)") 
                            img.lazy(src="" data-src="assets/images/mobile-playstoreBtn.svg" alt="PlayStore" width="38"  height="38" loading="lazy")
                        a.appStore-Link(href="javascript:void(0)") 
                            img.lazy(src="" data-src="assets/images/mobile-appstoreBtn.svg" alt="appstore" width="38"  height="38" loading="lazy")
            
            .download-right 
                img.lazy.iphone15Pro-model(src="" data-src="assets/images/iPhone15Pro.webp" alt="iPhone15Pro" width="129"  height="317" loading="lazy" tabindex="0")
                img.lazy.scanner-img(src="" data-src="assets/images/scanner.webp" alt="ScannerQR" width="174"  height="96" loading="lazy" tabindex="0")