section.banner-section
    .swiper.bannerSwiper 
        .swiper-wrapper 
            .swiper-slide
                img.lazy(src="" data-src="assets/images/modern-monitor-elegant-table 1.webp"  alt="" width="2493" height="797" loading="lazy")
                .container
                    .hero-content 
                        h1.hero-title(tabindex="0") Bring your aspirations to life with a quick loan
                        p.hero-subtitle(tabindex="0") Get a Loan amount of ₹20 Lakhs to ₹10 Cr* 
                        button.btn.btn-primary(type="button" aria-label="ApplyNow") Apply Now 
            .swiper-slide
                img.lazy(src="" data-src="assets/images/modern-monitor-elegant-table 1.webp"  alt="" width="2493" height="797" loading="lazy")
                .container
                    .hero-content 
                        h1.hero-title(tabindex="0") Bring your aspirations to life with a quick loan
                        p.hero-subtitle(tabindex="0") Get a Loan amount of ₹20 Lakhs to ₹10 Cr* 
                        button.btn.btn-primary(type="button" aria-label="ApplyNow") Apply Now  
            .swiper-slide
                img.lazy(src="" data-src="assets/images/modern-monitor-elegant-table 1.webp"  alt="" width="2493" height="797" loading="lazy")
                .container
                    .hero-content 
                        h1.hero-title(tabindex="0") Bring your aspirations to life with a quick loan
                        p.hero-subtitle(tabindex="0") Get a Loan amount of ₹20 Lakhs to ₹10 Cr* 
                        button.btn.btn-primary(type="button" aria-label="ApplyNow") Apply Now 
            .swiper-slide
                img.lazy(src="" data-src="assets/images/modern-monitor-elegant-table 1.webp"  alt="" width="2493" height="797" loading="lazy")
                .container
                    .hero-content 
                        h1.hero-title(tabindex="0") Bring your aspirations to life with a quick loan
                        p.hero-subtitle(tabindex="0") Get a Loan amount of ₹20 Lakhs to ₹10 Cr* 
                        button.btn.btn-primary(type="button" aria-label="ApplyNow") Apply Now 

        .swiper-pagination.banner-pagination(role="navigation" aria-label="pagination")


