section.impNotice-section 
    .container
        .notice-head 
            h2.sect-heading(tabindex="0") Important Notice
            a.shownoticeLink(href="javascript:void(0)" id="toggleNotice" aria-expanded="false") Show
        .notice-wrap 
            .swiper.notice-swiper 
                .swiper-wrapper 
                    .swiper-slide 
                        .notice-slide 
                            img.lazy(src="" data-src="assets/images/notice1.webp" alt="RBI notice image" width="572" height="117"  loading="lazy")
                            .notice-info 
                                h4.notice-title(tabindex="0") RBI Moratorium Update
                                p.notice-desc(tabindex="0") Please note that as per the latest Reserve Bank of India...
                                a.readMore-noticeLink(href="javascript:void(0)") Read More 
                    .swiper-slide 
                        .notice-slide 
                            img.lazy(src="" data-src="assets/images/notice2.webp" alt="Fraudulent Awareness" width="572" height="117"  loading="lazy")
                            .notice-info 
                                h4.notice-title(tabindex="0") RBI Moratorium Update
                                p.notice-desc(tabindex="0") Please note that as per the latest Reserve Bank of India...
                                a.readMore-noticeLink(href="javascript:void(0)") Read More 

                    .swiper-slide 
                        .notice-slide 
                            img.lazy(src="" data-src="assets/images/notice2.webp" alt="Fraudulent Awareness" width="572" height="117"  loading="lazy")
                            .notice-info 
                                h4.notice-title(tabindex="0") RBI Moratorium Update
                                p.notice-desc(tabindex="0") Please note that as per the latest Reserve Bank of India...
                                a.readMore-noticeLink(href="javascript:void(0)") Read More 

                    .swiper-slide 
                        .notice-slide 
                            img.lazy(src="" data-src="assets/images/notice1.webp" alt="Fraudulent Awareness" width="572" height="117"  loading="lazy")
                            .notice-info 
                                h4.notice-title(tabindex="0") RBI Moratorium Update
                                p.notice-desc(tabindex="0") Please note that as per the latest Reserve Bank of India...
                                a.readMore-noticeLink(href="javascript:void(0)") Read More

                    
            .swiper-navigation-btns 
                .swiper-button-prev.notice-prev(tabindex="0")  
                .swiper-button-next.notice-next(tabindex="0")