section.loanTabs-section 
    .container
        .loan-wrapper.tab-container
            .loanTabs-wrapper(role="tablist")
                .loan-tab.tab.active(role="tab" aria-selected="true" tabindex="0" aria-label="Home" id="loantab-1" aria-controls="loan-tabpanel-1")
                    img.lazy(src="" data-src="assets/images/Home Smile 3.svg" alt="Home-image" width="30" height="28")
                    p.tab-topic Home Tab
                .loan-tab.tab(role="tab" aria-selected="false" tabindex="-1" aria-label="PersonalLoan" id="loantab-2" aria-controls="loan-tabpanel-2")
                    img.lazy(src="" data-src="assets/images/HomeSmile2.svg" alt="personal-lona-image" width="30" height="28")
                    p.tab-topic Personal loan
                .loan-tab.tab(role="tab" aria-selected="false" tabindex="-1" aria-label="TwoWheeler-loan" id="loantab-3" aria-controls="loan-tabpanel-3")
                    img.lazy(src="" data-src="assets/images/Home Smile 4.svg" alt="two-wheeler-image" width="30" height="28")
                    p.tab-topic Two wheeler loan
                .loan-tab.tab(role="tab" aria-selected="false" tabindex="-1" aria-label="BusinessLoan" id="loantab-4" aria-controls="loan-tabpanel-4")
                    img.lazy(src="" data-src="assets/images/Tractor.svg" alt="bussiness-image" width="30" height="28")
                    p.tab-topic Business loan
                .loan-tab.tab(role="tab" aria-selected="false" tabindex="-1" aria-label="RuralLoan" id="loantab-5" aria-controls="loan-tabpanel-5")
                    img.lazy(src="" data-src="assets/images/Command 4.svg" alt="rural-image" width="30" height="28")
                    p.tab-topic Rural loan
                .loan-tab.tab(role="tab" aria-selected="false" tabindex="-1" aria-label="FarmLoan" id="loantab-6" aria-controls="loan-tabpanel-6")
                    img.lazy(src="" data-src="assets/images/HomeSmile2.svg" alt="farm-image" width="30" height="28")
                    p.tab-topic Farm loan
                .loan-tab.tab(role="tab" aria-selected="false" tabindex="-1" aria-label="loanAgainstProperty-Loan" id="loantab-7" aria-controls="loan-tabpanel-7")
                    img.lazy(src="" data-src="assets/images/house.svg" alt="loan-against-property-image" width="30" height="28")
                    p.tab-topic Loan Against Property
        
            .loanTab-content-wrapper
                .loanTab-content.content.active(role="tabpanel" id="loan-tabpanel-1" aria-labelledby="loantab-1") 
                    .loan-content-info 
                        .loan-img-wrapper 
                            img.lazy(src=""  data-src="assets/images/Layer_1.webp" alt="home-image" width="129" height="89" tabindex="0")
                        .loan-content-desc 
                            h2.sect-heading.loan-heading(tabindex="0") Home Loan 
                            p.loan-desc(tabindex="0") Get competitive interest rates, a hassle-free online application process and flexible repayment options.
                        .loan-cal-wrap 
                            .cal-emi-wrap 
                                img.lazy.calculate-img(src="" data-src="assets/images/calculate.webp" alt="calculator-image" width="24" height="24" tabindex="0")
                                a.emi-calc-link(href="javascript:void(0)") Calculate EMI 
                            button.btn.btn-outline(type="button") Know More 
                    .loan-cards-wrapper 
                        .loan-card
                            h3.loan-card-title(tabindex="0") Housing loan
                            p.loan-card-desc(tabindex="0") Get affordable Home Loans starting @ 8.65%* p.a.
                        
                            .loan-card-btn-wrapper 
                                a.knowMoreLink(href="javascript:void(0)") Know More
                                button.btn.btn-primary.applyNowBtn(type="button") Apply Now 
                        .loan-card
                            h3.loan-card-title(tabindex="0") Housing loan
                            p.loan-card-desc(tabindex="0") Get affordable Home Loans starting @ 8.65%* p.a.
                        
                            .loan-card-btn-wrapper 
                                a.knowMoreLink(href="javascript:void(0)") Know More
                                button.btn.btn-primary.applyNowBtn(type="button") Apply Now 

                        .loan-card
                            h3.loan-card-title(tabindex="0") Housing loan
                            p.loan-card-desc(tabindex="0") Get affordable Home Loans starting @ 8.65%* p.a.
                        
                            .loan-card-btn-wrapper 
                                a.knowMoreLink(href="javascript:void(0)") Know More
                                button.btn.btn-primary.applyNowBtn(type="button") Apply Now 

                        .loan-card
                            h3.loan-card-title(tabindex="0") Housing loan
                            p.loan-card-desc(tabindex="0") Get affordable Home Loans starting @ 8.65%* p.a.
                        
                            .loan-card-btn-wrapper 
                                a.knowMoreLink(href="javascript:void(0)") Know More
                                button.btn.btn-primary.applyNowBtn(type="button") Apply Now 

                        .loan-card
                            h3.loan-card-title(tabindex="0") Housing loan
                            p.loan-card-desc(tabindex="0") Get affordable Home Loans starting @ 8.65%* p.a.
                        
                            .loan-card-btn-wrapper 
                                a.knowMoreLink(href="javascript:void(0)") Know More
                                button.btn.btn-primary.applyNowBtn(type="button") Apply Now 

                .loanTab-content.content(role="tabpanel" id="loan-tabpanel-2" aria-labelledby="loantab-2") 
                    .loan-content-info 
                        .loan-img-wrapper 
                            img.lazy(src=""  data-src="assets/images/Layer_1.webp" alt="home-image" width="129" height="89" tabindex="0")
                        .loan-content-desc 
                            h2.sect-heading.loan-heading(tabindex="0") Personal Loan 
                            p.loan-desc(tabindex="0") Get competitive interest rates, a hassle-free online application process and flexible repayment options.
                        .loan-cal-wrap 
                            .cal-emi-wrap 
                                img.lazy.calculate-img(src="" data-src="assets/images/calculate.webp" alt="calculator-image" width="24" height="24" tabindex="0")
                                a.emi-calc-link(href="javascript:void(0)") Calculate EMI 
                            button.btn.btn-outline(type="button") Know More 
                    .loan-cards-wrapper 
                        .loan-card
                            h3.loan-card-title(tabindex="0") Housing loan
                            p.loan-card-desc(tabindex="0") Get affordable Home Loans starting @ 8.65%* p.a.
                        
                            .loan-card-btn-wrapper 
                                a.knowMoreLink(href="javascript:void(0)") Know More
                                button.btn.btn-primary.applyNowBtn(type="button") Apply Now 

                        .loan-card
                            h3.loan-card-title(tabindex="0") Housing loan
                            p.loan-card-desc(tabindex="0") Get affordable Home Loans starting @ 8.65%* p.a.
                        
                            .loan-card-btn-wrapper 
                                a.knowMoreLink(href="javascript:void(0)") Know More
                                button.btn.btn-primary.applyNowBtn(type="button") Apply Now

                        .loan-card
                            h3.loan-card-title(tabindex="0") Housing loan
                            p.loan-card-desc(tabindex="0") Get affordable Home Loans starting @ 8.65%* p.a.
                        
                            .loan-card-btn-wrapper 
                                a.knowMoreLink(href="javascript:void(0)") Know More
                                button.btn.btn-primary.applyNowBtn(type="button") Apply Now

                        .loan-card
                            h3.loan-card-title(tabindex="0") Housing loan
                            p.loan-card-desc(tabindex="0") Get affordable Home Loans starting @ 8.65%* p.a.
                        
                            .loan-card-btn-wrapper 
                                a.knowMoreLink(href="javascript:void(0)") Know More
                                button.btn.btn-primary.applyNowBtn Apply Now
                        .loan-card
                            h3.loan-card-title(tabindex="0") Housing loan
                            p.loan-card-desc(tabindex="0") Get affordable Home Loans starting @ 8.65%* p.a.
                        
                            .loan-card-btn-wrapper 
                                a.knowMoreLink(href="javascript:void(0)") Know More
                                button.btn.btn-primary.applyNowBtn(type="button") Apply Now

                        .loan-card
                            h3.loan-card-title(tabindex="0") Housing loan
                            p.loan-card-desc(tabindex="0") Get affordable Home Loans starting @ 8.65%* p.a.
                        
                            .loan-card-btn-wrapper 
                                a.knowMoreLink(href="javascript:void(0)") Know More
                                button.btn.btn-primary.applyNowBtn(type="button") Apply Now

                .loanTab-content.content(role="tabpanel" id="loan-tabpanel-3" aria-labelledby="loantab-3") 
                    .loan-content-info 
                        .loan-img-wrapper 
                            img.lazy(src=""  data-src="assets/images/Layer_1.webp" alt="home-image" width="129" height="89" tabindex="0")
                        .loan-content-desc 
                            h2.sect-heading.loan-heading(tabindex="0") Two wheeler Loan 
                            p.loan-desc(tabindex="0") Get competitive interest rates, a hassle-free online application process and flexible repayment options.
                        .loan-cal-wrap 
                            .cal-emi-wrap 
                                img.lazy.calculate-img(src="" data-src="assets/images/calculate.webp" alt="calculator-image" width="24" height="24" tabindex="0")
                                a.emi-calc-link(href="javascript:void(0)") Calculate EMI 
                            button.btn.btn-outline(type="button") Know More 
                    .loan-cards-wrapper 
                        .loan-card
                            h3.loan-card-title(tabindex="0") Housing loan
                            p.loan-card-desc(tabindex="0") Get affordable Home Loans starting @ 8.65%* p.a.
                        
                            .loan-card-btn-wrapper 
                                a.knowMoreLink(href="javascript:void(0)") Know More
                                button.btn.btn-primary.applyNowBtn(type="button") Apply Now

                        .loan-card
                            h3.loan-card-title(tabindex="0") Housing loan
                            p.loan-card-desc(tabindex="0") Get affordable Home Loans starting @ 8.65%* p.a.
                        
                            .loan-card-btn-wrapper 
                                a.knowMoreLink(href="javascript:void(0)") Know More
                                button.btn.btn-primary.applyNowBtn(type="button") Apply Now

                        .loan-card
                            h3.loan-card-title(tabindex="0") Housing loan
                            p.loan-card-desc(tabindex="0") Get affordable Home Loans starting @ 8.65%* p.a.
                        
                            .loan-card-btn-wrapper 
                                a.knowMoreLink(href="javascript:void(0)") Know More
                                button.btn.btn-primary.applyNowBtn(type="button") Apply Now

                        .loan-card
                            h3.loan-card-title(tabindex="0") Housing loan
                            p.loan-card-desc(tabindex="0") Get affordable Home Loans starting @ 8.65%* p.a.
                        
                            .loan-card-btn-wrapper 
                                a.knowMoreLink(href="javascript:void(0)") Know More
                                button.btn.btn-primary.applyNowBtn(type="button") Apply Now

                        .loan-card
                            h3.loan-card-title(tabindex="0") Housing loan
                            p.loan-card-desc(tabindex="0") Get affordable Home Loans starting @ 8.65%* p.a.
                        
                            .loan-card-btn-wrapper 
                                a.knowMoreLink(href="javascript:void(0)") Know More
                                button.btn.btn-primary.applyNowBtn(type="button") Apply Now
                .loanTab-content.content(role="tabpanel" id="loan-tabpanel-4" aria-labelledby="loantab-4") 
                    .loan-content-info 
                        .loan-img-wrapper 
                            img.lazy(src=""  data-src="assets/images/Layer_1.webp" alt="home-image" width="129" height="89" tabindex="0")
                        .loan-content-desc 
                            h2.sect-heading.loan-heading(tabindex="0") Business Loan 
                            p.loan-desc(tabindex="0") Get competitive interest rates, a hassle-free online application process and flexible repayment options.
                        .loan-cal-wrap 
                            .cal-emi-wrap 
                                img.lazy.calculate-img(src="" data-src="assets/images/calculate.webp" alt="calculator-image" width="24" height="24" tabindex="0")
                                a.emi-calc-link(href="javascript:void(0)") Calculate EMI 
                            button.btn.btn-outline(type="button") Know More 
                    .loan-cards-wrapper 
                        .loan-card
                            h3.loan-card-title(tabindex="0") Housing loan
                            p.loan-card-desc(tabindex="0") Get affordable Home Loans starting @ 8.65%* p.a.
                        
                            .loan-card-btn-wrapper 
                                a.knowMoreLink(href="javascript:void(0)") Know More
                                button.btn.btn-primary.applyNowBtn(type="button") Apply Now

                        .loan-card
                            h3.loan-card-title(tabindex="0") Housing loan
                            p.loan-card-desc(tabindex="0") Get affordable Home Loans starting @ 8.65%* p.a.
                        
                            .loan-card-btn-wrapper 
                                a.knowMoreLink(href="javascript:void(0)") Know More
                                button.btn.btn-primary.applyNowBtn(type="button") Apply Now
                        .loan-card
                            h3.loan-card-title(tabindex="0") Housing loan
                            p.loan-card-desc(tabindex="0") Get affordable Home Loans starting @ 8.65%* p.a.
                        
                            .loan-card-btn-wrapper 
                                a.knowMoreLink(href="javascript:void(0)") Know More
                                button.btn.btn-primary.applyNowBtn(type="button") Apply Now

                        .loan-card
                            h3.loan-card-title(tabindex="0") Housing loan
                            p.loan-card-desc(tabindex="0") Get affordable Home Loans starting @ 8.65%* p.a.
                        
                            .loan-card-btn-wrapper 
                                a.knowMoreLink(href="javascript:void(0)") Know More
                                button.btn.btn-primary.applyNowBtn(type="button") Apply Now
                .loanTab-content.content(role="tabpanel" id="loan-tabpanel-5" aria-labelledby="loantab-5") 
                    .loan-content-info 
                        .loan-img-wrapper 
                            img.lazy(src=""  data-src="assets/images/Layer_1.webp" alt="home-image" width="129" height="89" tabindex="0")
                        .loan-content-desc 
                            h2.sect-heading.loan-heading(tabindex="0") Rural Loan 
                            p.loan-desc(tabindex="0") Get competitive interest rates, a hassle-free online application process and flexible repayment options.
                        .loan-cal-wrap 
                            .cal-emi-wrap 
                                img.lazy.calculate-img(src="" data-src="assets/images/calculate.webp" alt="calculator-image" width="24" height="24" tabindex="0")
                                a.emi-calc-link(href="javascript:void(0)") Calculate EMI 
                            button.btn.btn-outline(type="button") Know More 
                    .loan-cards-wrapper 
                        .loan-card
                            h3.loan-card-title(tabindex="0") Housing loan
                            p.loan-card-desc(tabindex="0") Get affordable Home Loans starting @ 8.65%* p.a.
                        
                            .loan-card-btn-wrapper 
                                a.knowMoreLink(href="javascript:void(0)") Know More
                                button.btn.btn-primary.applyNowBtn(type="button") Apply Now

                        .loan-card
                            h3.loan-card-title(tabindex="0") Housing loan
                            p.loan-card-desc(tabindex="0") Get affordable Home Loans starting @ 8.65%* p.a.
                        
                            .loan-card-btn-wrapper 
                                a.knowMoreLink(href="javascript:void(0)") Know More
                                button.btn.btn-primary.applyNowBtn(type="button") Apply Now

                        .loan-card
                            h3.loan-card-title(tabindex="0") Housing loan
                            p.loan-card-desc(tabindex="0") Get affordable Home Loans starting @ 8.65%* p.a.
                        
                            .loan-card-btn-wrapper 
                                a.knowMoreLink(href="javascript:void(0)") Know More
                                button.btn.btn-primary.applyNowBtn(type="button") Apply Now
                        .loan-card
                            h3.loan-card-title(tabindex="0") Housing loan
                            p.loan-card-desc(tabindex="0") Get affordable Home Loans starting @ 8.65%* p.a.
                        
                            .loan-card-btn-wrapper 
                                a.knowMoreLink(href="javascript:void(0)") Know More
                                button.btn.btn-primary.applyNowBtn(type="button") Apply Now
                        .loan-card
                            h3.loan-card-title(tabindex="0") Housing loan
                            p.loan-card-desc(tabindex="0") Get affordable Home Loans starting @ 8.65%* p.a.
                        
                            .loan-card-btn-wrapper 
                                a.knowMoreLink(href="javascript:void(0)") Know More
                                button.btn.btn-primary.applyNowBtn(type="button") Apply Now

                        .loan-card
                            h3.loan-card-title(tabindex="0") Housing loan
                            p.loan-card-desc(tabindex="0") Get affordable Home Loans starting @ 8.65%* p.a.
                        
                            .loan-card-btn-wrapper 
                                a.knowMoreLink(href="javascript:void(0)") Know More
                                button.btn.btn-primary.applyNowBtn(type="button") Apply Now

                        .loan-card
                            h3.loan-card-title(tabindex="0") Housing loan
                            p.loan-card-desc(tabindex="0") Get affordable Home Loans starting @ 8.65%* p.a.
                        
                            .loan-card-btn-wrapper 
                                a.knowMoreLink(href="javascript:void(0)") Know More
                                button.btn.btn-primary.applyNowBtn(type="button") Apply Now
                .loanTab-content.content(role="tabpanel" id="loan-tabpanel-6" aria-labelledby="loantab-6") 
                    .loan-content-info 
                        .loan-img-wrapper 
                            img.lazy(src=""  data-src="assets/images/Layer_1.webp" alt="home-image" width="129" height="89" tabindex="0")
                        .loan-content-desc 
                            h2.sect-heading.loan-heading(tabindex="0") Farm Loan 
                            p.loan-desc(tabindex="0") Get competitive interest rates, a hassle-free online application process and flexible repayment options.
                        .loan-cal-wrap 
                            .cal-emi-wrap 
                                img.lazy.calculate-img(src="" data-src="assets/images/calculate.webp" alt="calculator-image" width="24" height="24" tabindex="0")
                                a.emi-calc-link(href="javascript:void(0)") Calculate EMI 
                            button.btn.btn-outline(type="button") Know More 
                    .loan-cards-wrapper 
                        .loan-card
                            h3.loan-card-title(tabindex="0") Housing loan
                            p.loan-card-desc(tabindex="0") Get affordable Home Loans starting @ 8.65%* p.a.
                        
                            .loan-card-btn-wrapper 
                                a.knowMoreLink(href="javascript:void(0)") Know More
                                button.btn.btn-primary.applyNowBtn(type="button") Apply Now
                        .loan-card
                            h3.loan-card-title(tabindex="0") Housing loan
                            p.loan-card-desc(tabindex="0") Get affordable Home Loans starting @ 8.65%* p.a.
                        
                            .loan-card-btn-wrapper 
                                a.knowMoreLink(href="javascript:void(0)") Know More
                                button.btn.btn-primary.applyNowBtn(type="button") Apply Now

                        .loan-card
                            h3.loan-card-title(tabindex="0") Housing loan
                            p.loan-card-desc(tabindex="0") Get affordable Home Loans starting @ 8.65%* p.a.
                        
                            .loan-card-btn-wrapper 
                                a.knowMoreLink(href="javascript:void(0)") Know More
                                button.btn.btn-primary.applyNowBtn(type="button") Apply Now
                .loanTab-content.content(role="tabpanel" id="loan-tabpanel-7" aria-labelledby="loantab-7") 
                    .loan-content-info 
                        .loan-img-wrapper 
                            img.lazy(src=""  data-src="assets/images/Layer_1.webp" alt="home-image" width="129" height="89" tabindex="0")
                        .loan-content-desc 
                            h2.sect-heading.loan-heading(tabindex="0") Loan Against Property
                            p.loan-desc(tabindex="0") Get competitive interest rates, a hassle-free online application process and flexible repayment options.
                        .loan-cal-wrap 
                            .cal-emi-wrap 
                                img.lazy.calculate-img(src="" data-src="assets/images/calculate.webp" alt="calculator-image" width="24" height="24" tabindex="0")
                                a.emi-calc-link(href="javascript:void(0)") Calculate EMI 
                            button.btn.btn-outline(type="button") Know More 
                    .loan-cards-wrapper 
                        .loan-card
                            h3.loan-card-title(tabindex="0") Housing loan
                            p.loan-card-desc(tabindex="0") Get affordable Home Loans starting @ 8.65%* p.a.
                        
                            .loan-card-btn-wrapper 
                                a.knowMoreLink(href="javascript:void(0)") Know More
                                button.btn.btn-primary.applyNowBtn(type="button") Apply Now

                        .loan-card
                            h3.loan-card-title(tabindex="0") Housing loan
                            p.loan-card-desc(tabindex="0") Get affordable Home Loans starting @ 8.65%* p.a.
                        
                            .loan-card-btn-wrapper 
                                a.knowMoreLink(href="javascript:void(0)") Know More
                                button.btn.btn-primary.applyNowBtn(type="button") Apply Now

                        .loan-card
                            h3.loan-card-title(tabindex="0") Housing loan
                            p.loan-card-desc(tabindex="0") Get affordable Home Loans starting @ 8.65%* p.a.
                        
                            .loan-card-btn-wrapper 
                                a.knowMoreLink(href="javascript:void(0)") Know More
                                button.btn.btn-primary.applyNowBtn(type="button") Apply Now
    

            