section.loan-offer-section 
    .container
        .offer-top 
            h2.sect-heading.offer-heading(tabindex="0") Curated offers for you
            .offer-label    
                span.offer-label-title(tabindex="0") 08 Offers 
                span.offer-availability(tabindex="0") available
        .loan-offer-wrap 
            .swiper.loan-offer-swiper 
                .swiper-wrapper 
                    .swiper-slide 
                        .loan-offer-card
                            .loan-offer-info
                                h3.offer-head(tabindex="0") Doctor loan
                                p.offer-desc(tabindex="0") Get special Professional Loan of up to ₹ 55 lakhs
                                button.no-outline.btn.btn-outline(type="button") Apply Now  
                                .shadow-background 
                            .loan-offer-img 
                                .yellow-line
                                img.lazy.offer-image(src="" data-src="assets/images/loan-offer-img1.webp" alt="Doctor-loan-img"  width="124" height="128" loading="lazy" tabindex="0")
                    .swiper-slide 
                        .loan-offer-card
                            .loan-offer-info
                                h3.offer-head(tabindex="0") Personal loan
                                p.offer-desc(tabindex="0") Get special Professional Loan of up to ₹ 55 lakhs
                                button.no-outline.btn.btn-outline(type="button") Apply Now  
                                .shadow-background 
                            .loan-offer-img
                                .yellow-line 
                                img.lazy.offer-image(src="" data-src="assets/images/loan-offer-img2.webp" alt="personal-loan-img"  width="124" height="128" loading="lazy" tabindex="0")
                    .swiper-slide 
                        .loan-offer-card
                            .loan-offer-info
                                h3.offer-head(tabindex="0") Farm loan
                                p.offer-desc(tabindex="0") Get special Professional Loan of up to ₹ 55 lakhs            
                                button.no-outline.btn.btn-outline(type="button") Apply Now  
                                .shadow-background 
                            .loan-offer-img
                                .yellow-line 
                                img.lazy.offer-image(src="" data-src="assets/images/loan-offer-img3.webp" alt="Farm-loan-img"  width="124" height="128" loading="lazy" tabindex="0")

                    .swiper-slide 
                        .loan-offer-card
                            .loan-offer-info
                                h3.offer-head(tabindex="0") Doctor loan
                                p.offer-desc(tabindex="0") Get special Professional Loan of up to ₹ 55 lakhs             
                                button.no-outline.btn.btn-outline(type="button") Apply Now  
                                .shadow-background 
                            .loan-offer-img
                                .yellow-line 
                                img.lazy.offer-image(src="" data-src="assets/images/loan-offer-img1.webp" alt="Doctor-loan-img"  width="124" height="128" loading="lazy" tabindex="0")
                    .swiper-slide 
                        .loan-offer-card
                            .loan-offer-info
                                h3.offer-head(tabindex="0") Farm loan
                                p.offer-desc(tabindex="0") Get special Professional Loan of up to ₹ 55 lakhs
                                button.no-outline.btn.btn-outline(type="button") Apply Now  
                                .shadow-background 
                            .loan-offer-img
                                .yellow-line 
                                img.lazy.offer-image(src="" data-src="assets/images/loan-offer-img3.webp" alt="car-loan-img"  width="124" height="128" loading="lazy" tabindex="0")

            .swiper-navigation-btns 
                .swiper-button-prev.loan-prev(tabindex="0")  
                .swiper-button-next.loan-next(tabindex="0") 
            .swiper-pagination.loan-pagination

