section.top-Loans-section 
    .container 
        .top-loans-wrap.tab-container 
            h4.loan-title(tabindex="0") TOP LOANS OFFERED
            ul.top-loans-tab-grp(role="tablist") 
                li.top-loan-tab.tab.active(role="tab" aria-selected="true" tabindex="0")
                    a(href="javascript:void(0)" tabindex="-1") two wheeler 
                li.top-loan-tab.tab(role="tab" aria-selected="false" tabindex="-1")
                    a(href="javascript:void(0)" tabindex="-1") personal loan
                li.top-loan-tab.tab(role="tab" aria-selected="false" tabindex="-1")
                    a(href="javascript:void(0)" tabindex="-1") home loan 
                li.top-loan-tab.tab(role="tab" aria-selected="false" tabindex="-1")
                    a(href="javascript:void(0)" tabindex="-1") farm loan  
                li.top-loan-tab.tab(role="tab" aria-selected="false" tabindex="-1")
                    a(href="javascript:void(0)" tabindex="-1") micro loan  
                li.top-loan-tab.tab(role="tab" aria-selected="false" tabindex="-1")
                    a(href="javascript:void(0)" tabindex="-1") sme loan 
                li.top-loan-tab.tab(role="tab" aria-selected="false" tabindex="-1")
                    a(href="javascript:void(0)" tabindex="-1") loan against property 
                li.top-loan-tab.tab(role="tab" aria-selected="false" tabindex="-1")
                    a(href="javascript:void(0)" tabindex="-1") finance for professionals  

            .top-loans-content.content.active(role="tabpanel") 
                ul.loans-content-list 
                    li 
                        a(href="javascript:void(0)" tabindex="0") Two wheeler loan
                    li 
                        a(href="javascript:void(0)" tabindex="0") Two wheeler loan interest rates
                    li 
                        a(href="javascript:void(0)" tabindex="0") Two wheeler loan EMI calculator
                    li 
                        a(href="javascript:void(0)" tabindex="0") Bike loan
                    li 
                        a(href="javascript:void(0)" tabindex="0") Two wheeler loan documents
            
            .top-loans-content.content(role="tabpanel")  
                ul.loans-content-list 
                    li 
                        a(href="javascript:void(0)" tabindex="0") Two wheeler loan
                    li 
                        a(href="javascript:void(0)" tabindex="0") Two wheeler loan interest rates
                    li 
                        a(href="javascript:void(0)" tabindex="0") Two wheeler loan EMI calculator
                    li 
                        a(href="javascript:void(0)" tabindex="0") Bike loan
                    li 
                        a(href="javascript:void(0)" tabindex="0") Two wheeler loan documents
                    li 
                        a(href="javascript:void(0)" tabindex="0") Two wheeler loan
                    li 
                        a(href="javascript:void(0)" tabindex="0") Two wheeler loan interest rates
                    li 
                        a(href="javascript:void(0)" tabindex="0") Two wheeler loan EMI calculator
                    li 
                        a(href="javascript:void(0)" tabindex="0") Bike loan
                    li 
                        a(href="javascript:void(0)" tabindex="0") Two wheeler loan documents
            .top-loans-content.content(role="tabpanel")  
                ul.loans-content-list 
                    li 
                        a(href="javascript:void(0)" tabindex="0") Two wheeler loan
                    li 
                        a(href="javascript:void(0)" tabindex="0") Two wheeler loan interest rates
                    li 
                        a(href="javascript:void(0)" tabindex="0") Two wheeler loan EMI calculator
                    li 
                        a(href="javascript:void(0)" tabindex="0") Bike loan
                    li 
                        a(href="javascript:void(0)" tabindex="0") Two wheeler loan documents
                    li 
                        a(href="javascript:void(0)" tabindex="0") Two wheeler loan
                    li 
                        a(href="javascript:void(0)" tabindex="0") Two wheeler loan interest rates
                    li 
                        a(href="javascript:void(0)" tabindex="0") Two wheeler loan EMI calculator
                    li 
                        a(href="javascript:void(0)" tabindex="0") Bike loan
                    li 
                        a(href="javascript:void(0)" tabindex="0") Two wheeler loan EMI calculator
                    li 
                        a(href="javascript:void(0)" tabindex="0") Bike loan
                    li 
                        a(href="javascript:void(0)" tabindex="0") Two wheeler loan documents
                    li 
                        a(href="javascript:void(0)" tabindex="0") Two wheeler loan documents
            .top-loans-content.content(role="tabpanel")  
                ul.loans-content-list 
                    li 
                        a(href="javascript:void(0)" tabindex="0") Two wheeler loan
                    li 
                        a(href="javascript:void(0)" tabindex="0") Two wheeler loan interest rates
                    li 
                        a(href="javascript:void(0)" tabindex="0") Two wheeler loan EMI calculator
                    li 
                        a(href="javascript:void(0)" tabindex="0") Bike loan
                    li 
                        a(href="javascript:void(0)" tabindex="0") Two wheeler loan documents
                    li 
                        a(href="javascript:void(0)" tabindex="0") Two wheeler loan
                    li 
                        a(href="javascript:void(0)" tabindex="0") Two wheeler loan interest rates
                    li 
                        a(href="javascript:void(0)" tabindex="0") Two wheeler loan EMI calculator
            .top-loans-content.content(role="tabpanel")  
                ul.loans-content-list 
                    li 
                        a(href="javascript:void(0)" tabindex="0") Two wheeler loan
                    li 
                        a(href="javascript:void(0)" tabindex="0") Two wheeler loan interest rates
                    li 
                        a(href="javascript:void(0)" tabindex="0") Two wheeler loan EMI calculator
                    li 
                        a(href="javascript:void(0)" tabindex="0") Bike loan
                    li 
                        a(href="javascript:void(0)" tabindex="0") Two wheeler loan documents
                    li 
                        a(href="javascript:void(0)" tabindex="0") Two wheeler loan
                    li 
                        a(href="javascript:void(0)" tabindex="0") Two wheeler loan interest rates
                    li 
                        a(href="javascript:void(0)" tabindex="0") Two wheeler loan EMI calculator
                    li 
                        a(href="javascript:void(0)" tabindex="0") Bike loan
                    li 
                        a(href="javascript:void(0)" tabindex="0") Two wheeler loan documents
            .top-loans-content.content(role="tabpanel")  
                ul.loans-content-list 
                    li 
                        a(href="javascript:void(0)" tabindex="0") Two wheeler loan
                    li 
                        a(href="javascript:void(0)" tabindex="0") Two wheeler loan interest rates
                    li 
                        a(href="javascript:void(0)" tabindex="0") Two wheeler loan EMI calculator
                    li 
                        a(href="javascript:void(0)" tabindex="0") Bike loan
                    li 
                        a(href="javascript:void(0)" tabindex="0") Two wheeler loan documents
                    li 
                        a(href="javascript:void(0)" tabindex="0") Two wheeler loan
                    li 
                        a(href="javascript:void(0)" tabindex="0") Two wheeler loan interest rates
                    li 
                        a(href="javascript:void(0)" tabindex="0") Two wheeler loan EMI calculator
                    li 
                        a(href="javascript:void(0)" tabindex="0") Bike loan
                    li 
                        a(href="javascript:void(0)" tabindex="0") Two wheeler loan documents
                    li 
                        a(href="javascript:void(0)" tabindex="0") Two wheeler loan EMI calculator
                    li 
                        a(href="javascript:void(0)" tabindex="0") Bike loan
                    li 
                        a(href="javascript:void(0)" tabindex="0") Two wheeler loan documents
            .top-loans-content.content(role="tabpanel")  
                ul.loans-content-list 
                    li 
                        a(href="javascript:void(0)" tabindex="0") Two wheeler loan
                    li 
                        a(href="javascript:void(0)" tabindex="0") Two wheeler loan interest rates
                    li 
                        a(href="javascript:void(0)" tabindex="0") Two wheeler loan EMI calculator
                    li 
                        a(href="javascript:void(0)" tabindex="0") Two wheeler loan interest rates
                    li 
                        a(href="javascript:void(0)" tabindex="0") Two wheeler loan EMI calculator
                    li 
                        a(href="javascript:void(0)" tabindex="0") Bike loan
                    li 
                        a(href="javascript:void(0)" tabindex="0") Two wheeler loan documents
            .top-loans-content.content(role="tabpanel")  
                ul.loans-content-list 
                    li 
                        a(href="javascript:void(0)" tabindex="0") Two wheeler loan
                    li 
                        a(href="javascript:void(0)" tabindex="0") Two wheeler loan interest rates
                    li 
                        a(href="javascript:void(0)" tabindex="0") Two wheeler loan EMI calculator
                    li 
                        a(href="javascript:void(0)" tabindex="0") Bike loan
                    li 
                        a(href="javascript:void(0)" tabindex="0") Two wheeler loan documents
                    
                    

