
$white: #fff;
$black: #000;
// $secondary: linear-gradient(180deg, #FFC27A 0%, #FFA337 100%);

$primary-color: #F9C623;
$Tertiary-Grey-01: #262626;
$Tertiary-Grey-03:#484848;
$Tertiary-Grey-04: #606060;
$Tertiary-Grey-05: #7E7E7E;
$Tertiary-Grey-06: #A4A4A4;
$Tertiary-Grey-07: #C6C6C6;
$Tertiary-Grey-08: #E2E2E2;
$Grey1: #404040;
$Grey3: #BFBFBF;
$highlight: #007bc9;

$font-Pro-Condensed-normal:"Frutiger LT Pro 57 Condensed";
$font-Pro-BlackCn:"Frutiger LT Pro 57 Condensed 800";
$font-Pro-BoldCn: "Frutiger LT Pro 57 Bold Condensed 700";
$font-Pro-Condensed: "Frutiger LT Pro 57 Condensed 700"; 
$font-Pro-Roman :"Frutiger LT Pro 55 Roman normal"; 
$font-Pro-Black : "Frutiger LT Pro 55 Roman"; 
$font-bold: "Frutiger LT Pro 45"; 
$font-Pro-ExtraBlackCn:"Frutiger LT Pro ExtraBlackCn 900";