@import "../global/mixins",
"../global/variables";

.btn {
    display: inline-flex;
    align-items: baseline;
    justify-content: center;
    text-align: center;
    font-family: $font-Pro-Black;
    // align-self: baseline;
    font-size: 1rem;
    line-height: normal;
    padding: 0.8125rem 1.5rem;
    color: $black;
    border: 1px solid transparent;
    @include rounded(0.25rem);
    position: relative;
    cursor: pointer;
    white-space: nowrap;

    @include respond-to(laptop) {
        font-size: 0.875rem;
    }
    @include respond-to(large) {
        font-size: 0.75rem;
        padding: 0.5rem 1.6875rem;
    }
}

.btn-primary {
    background: $primary-color;
    color: $black;
    border: none;
    padding: 0.6875rem 2.625rem;
    cursor: pointer;
    @include transition(all, .3s, ease);
    &:hover {
        background: #f89626;
    }
    @include respond-to(small){
        padding: 0.375rem 1.75rem;
    }
}

.btn-outline {
    background: $white;
    border: 1px solid $Tertiary-Grey-06;
    @include transition(all, .3s, ease);

    &:hover{
        background-color: #f6f7f8;
    }
}