@font-face {
	font-family: "Frutiger LT Pro 57 Condensed";
	src: url("../fonts/FrutigerLTPro-Condensed.eot");
	src: url("../fonts/FrutigerLTPro-Condensed.eot?#iefix") format("embedded-opentype"),url("../fonts/FrutigerLTPro-Condensed.woff2") format("woff2"),url("../fonts/FrutigerLTPro-Condensed.woff") format("woff"),url("../fonts/FrutigerLTPro-Condensed.ttf") format("truetype"),url("../fonts/FrutigerLTPro-Condensed.svg#FrutigerLTPro-Condensed") format("svg");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Frutiger LT Pro 57 Condensed 800";
	src: url("../fonts/FrutigerLTPro-BlackCn.eot");
	src: url("../fonts/FrutigerLTPro-BlackCn.eot?#iefix") format("embedded-opentype"),url("../fonts/FrutigerLTPro-BlackCn.woff2") format("woff2"),url("../fonts/FrutigerLTPro-BlackCn.woff") format("woff"),url("../fonts/FrutigerLTPro-BlackCn.ttf") format("truetype"),url("../fonts/FrutigerLTPro-BlackCn.svg#FrutigerLTPro-BlackCn") format("svg");
	font-weight: 800;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Frutiger LT Pro 57 Bold Condensed 700";
	src: url("../fonts/FrutigerLTPro-BoldCn.eot");
	src: url("../fonts/FrutigerLTPro-BoldCn.eot?#iefix") format("embedded-opentype"),url("../fonts/FrutigerLTPro-BoldCn.woff2") format("woff2"),url("../fonts/FrutigerLTPro-BoldCn.woff") format("woff"),url("../fonts/FrutigerLTPro-BoldCn.ttf") format("truetype"),url("../fonts/FrutigerLTPro-BoldCn.svg#FrutigerLTPro-BoldCn") format("svg");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Frutiger LT Pro ExtraBlackCn 900";
	src: url("../fonts/FrutigerLTPro-ExtraBlackCn.eot");
	src: url("../fonts/FrutigerLTPro-ExtraBlackCn.eot?#iefix") format("embedded-opentype"),url("../fonts/FrutigerLTPro-ExtraBlackCn.woff2") format("woff2"),url("../fonts/FrutigerLTPro-ExtraBlackCn.woff") format("woff"),url("../fonts/FrutigerLTPro-ExtraBlackCn.ttf") format("truetype"),url("../fonts/FrutigerLTPro-ExtraBlackCn.svg#FrutigerLTPro-ExtraBlackCn") format("svg");
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Frutiger LT Pro 57 Condensed 700";
	src: url("../fonts/FrutigerLTPro-Condensed.eot");
	src: url("../fonts/FrutigerLTPro-Condensed.eot?#iefix") format("embedded-opentype"),url("../fonts/FrutigerLTPro-Condensed.woff2") format("woff2"),url("../fonts/FrutigerLTPro-Condensed.woff") format("woff"),url("../fonts/FrutigerLTPro-Condensed.ttf") format("truetype"),url("../fonts/FrutigerLTPro-Condensed.svg#FrutigerLTPro-Condensed") format("svg");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Frutiger LT Pro 45";
	src: url("../fonts/FrutigerLTPro-Bold.eot");
	src: url("../fonts/FrutigerLTPro-Bold.eot?#iefix") format("embedded-opentype"),url("../fonts/FrutigerLTPro-Bold.woff2") format("woff2"),url("../fonts/FrutigerLTPro-Bold.woff") format("woff"),url("../fonts/FrutigerLTPro-Bold.ttf") format("truetype"),url("../fonts/FrutigerLTPro-Bold.svg#FrutigerLTPro-Bold") format("svg");
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Frutiger LT Pro 55 Roman";
	src: url("../fonts/FrutigerLTPro-Black.eot");
	src: url("../fonts/FrutigerLTPro-Black.eot?#iefix") format("embedded-opentype"),url("../fonts/FrutigerLTPro-Black.woff2") format("woff2"),url("../fonts/FrutigerLTPro-Black.woff") format("woff"),url("../fonts/FrutigerLTPro-Black.ttf") format("truetype"),url("../fonts/FrutigerLTPro-Black.svg#FrutigerLTPro-Black") format("svg");
	font-weight: 800;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Frutiger LT Pro 55 Roman normal";
	src: url("../fonts/FrutigerLTPro-Roman.eot");
	src: url("../fonts/FrutigerLTPro-Roman.eot?#iefix") format("embedded-opentype"),url("../fonts/FrutigerLTPro-Roman.woff2") format("woff2"),url("../fonts/FrutigerLTPro-Roman.woff") format("woff"),url("../fonts/FrutigerLTPro-Roman.ttf") format("truetype"),url("../fonts/FrutigerLTPro-Roman.svg#FrutigerLTPro-Roman") format("svg");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?hhvq4z');
  src:  url('../fonts/icomoon.eot?hhvq4z#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?hhvq4z') format('truetype'),
    url('../fonts/icomoon.woff?hhvq4z') format('woff'),
    url('../fonts/icomoon.svg?hhvq4z#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-facebook-round-svgrepo-com-1:before {
  content: "\e900";
  color: #00adef;
}
.icon-youtube-fill:before {
  content: "\e901";
  color: #00adef;
}
.icon-twitter-x-fill:before {
  content: "\e902";
  color: #00adef;
}
.icon-instagram-fill:before {
  content: "\e903";
  color: #00adef;
}
.icon-linkedin-box-fill:before {
  content: "\e904";
  color: #00adef;
}

.icon-Chats .path1:before {
	content: "";
	color: #1c1b1f;
	opacity: .2;
}

.icon-Chats .path2:before {
	content: "";
	margin-left: -1em;
	color: #343330;
}

.icon-quick-links:before {
	content: "";
	color: #fff;
}
