@import "../global/mixins",
"../global/variables";

footer {
    padding: 40px 0;
    background: $white;

    @include respond-to(large) {
        padding: 32px 0;
    }

    .footer-wrap {
        display: flex;
        justify-content: space-between;
        margin-bottom: 40px;

        @include respond-to(large) {
            flex-direction: column;
            margin-bottom: 24px;
        }

        .mobile-view-logo {
            display: none;

            @include respond-to(large) {
                display: block;
                margin-bottom: 32px;
            }
        }

        .footer-col-part {
            @include respond-to(large) {
                border-bottom: 1px solid #b0b0b0;
            }

            &:not(:last-child) {
                margin-bottom: 40px;

                @include respond-to(large) {
                    margin-bottom: 0;
                }
            }


            .col-title {
                color: $black;
                font-family: $font-bold;
                font-size: 16px;
                line-height: 24px;
                margin-bottom: 16px;

                @include respond-to(large) {
                    margin: 12px 0;
                    position: relative;

                    &::before {
                        content: '+';
                        position: absolute;
                        right: 10px;
                        font-size: 20px;
                    }

                    &.active::before {
                        content: '−';
                    }
                }
            }

            .office-detail-head {
                @include respond-to(large) {
                    margin: 0 0 8px 0;

                    &::before {
                        content: unset;
                    }
                }
            }
        }

        .office-detail-part {
            @include respond-to(large) {
                border-bottom: none;

                img {
                    display: none;
                }
            }
        }


        .footer-col {
            width: 15%;
            padding-right: 10px;

            @include respond-to(large) {
                width: 100%;
            }
        }

        .office-details {
            width: 20%;
            padding-right: 0;

            @include respond-to(large) {
                margin-top: 32px;
            }
        }

        .footer-links {
            @include respond-to(large) {
                display: none;
            }

            li {
                position: relative;
                @include transition(all, 1.5s, ease);

                @include respond-to(large) {
                    margin: 16px 0;

                    &::after {
                        position: absolute;
                        content: "";
                        width: 4px;
                        height: 4px;
                        top: 20%;
                        right: 13px;
                        transform: translateY(-50%) rotate(136deg);
                        border-top: 1px solid #1C1B1F;
                        border-left: 1px solid #1C1B1F;
                        cursor: pointer;
                        transition: all .3s ease;
                    }
                }

                &:not(:last-child) {
                    margin-bottom: 12px;
                }

                &:hover {
                    .footer-sub-links {
                        visibility: visible;
                        opacity: 1;
                    }
                }
            }


            .new-label {
                padding: 4px 6px;
                background: #00A3DA;
                font-size: 10px;
                line-height: 18px;
                color: $white;
                letter-spacing: 0.6px;
                text-transform: uppercase;
                font-family: $font-Pro-BlackCn;
                @include rounded(4px);
                margin-left: 8px;
            }
        }

        .footer-sub-links {
            position: absolute;
            min-width: 224px;
            top: 50%;
            left: 76%;
            transform: translateY(-3%);
            background: #f1f9fc;
            padding: 10px;
            z-index: 2;
            font-family: $font-Pro-Roman;
            visibility: hidden;
            opacity: 0;
            @include rounded(8px);

            a {
                font-size: 12px;
                line-height: 16px;
                color: #404040;
            }
        }

        .footer-link {
            color: $Grey1;
            font-family: $font-Pro-Roman;
            font-size: 12px;
            line-height: 16px;
            @include transition(all, .3s, ease);
            position: relative;

            &:hover {
                color: $highlight;
            }
        }

        .footer-menu-link {
            &:after {
                content: "";
                position: absolute;
                width: 4px;
                height: 4px;
                top: 9px;
                right: -11px;
                -ms-transform: translateY(-50%) rotate(136deg);
                transform: translateY(-50%) rotate(136deg);
                border-top: 1px solid $Grey1;
                border-left: 1px solid $Grey1;
                cursor: pointer;
                transition: all .3s ease;
            }

            @include respond-to(large) {
                display: none;
            }
        }

        .social-icons {
            margin: 24px 0;

            a {
                width: 32px;
                height: 32px;
                @include rounded(50%);
                display: inline-flex;
                justify-content: center;
                align-items: center;
                border: 1px solid rgba(0, 0, 0, 0.04);
                background: rgba(249, 245, 240, 0.09);
                @include transition(all, .5s, ease);

                &:hover {
                    border: 1px solid $highlight;
                }

                &:not(:last-child) {
                    margin-right: 16px;
                }

                @include respond-to(extralarge) {
                    &:not(:last-child) {
                        margin-right: 8px;
                    }
                }

                @include respond-to(large) {
                    &:not(:last-child) {
                        margin-right: 12px;
                    }
                }
            }

            @include respond-to(large) {
                display: none;
            }
        }

        .mobile-icons {
            display: none;

            @include respond-to(large) {
                display: block;
                margin: 0;
            }
        }

        .office-address {
            color: $Grey1;
            font-family: $font-Pro-Roman;
            font-size: 12px;
            line-height: 16px;
            margin-bottom: 10px;
            @include transition(all, .3s, ease);

            &:hover {
                color: $highlight;
            }
        }

        .office-contact {
            color: $Grey1;
            font-family: $font-Pro-Roman;
            font-size: 12px;
            line-height: 16px;
            @include transition(all, .3s, ease);

            &:hover {
                color: $highlight;
            }

            @include respond-to(large) {
                margin-bottom: 16px;
            }
        }

    }

    .footer-bottom {
        display: flex;
        justify-content: space-between;

        @include respond-to(large) {
            flex-direction: column-reverse;
            justify-content: unset;
        }

        p {
            color: #808080;
            font-family: $font-Pro-Roman;
            font-size: 12px;
            line-height: 16px;
        }

        .policy-links {
            @include respond-to(large) {
                margin-bottom: 16px;
            }

            a {
                color: $Grey1;
                font-family: $font-Pro-Roman;
                font-size: 12px;
                line-height: 16px;
                position: relative;

                &:not(:last-child) {
                    margin-right: 10px;
                }
            }
        }
    }

    #scroll-to-top {
        display: inline-block;
        background-color: $primary-color;
        width: 50px;
        height: 50px;
        text-align: center;
        border-radius: 50%;
        position: fixed;
        bottom: 50px;
        right: 90px;
        transition: background-color .3s,
            opacity .5s, visibility .5s;
        opacity: 0;
        visibility: hidden;
        z-index: 10;
        display: flex;
        justify-content: center;
        align-items: center;

        &.show {
            opacity: 1;
            visibility: visible;
        }

        @include respond-to(large) {
            right: 10px;
            width: 40px;
            height: 40px;

            img{
                width: 20px;
                height: 20px;
            }
        }
    }
}